.button-group button {
  background-color: #385170;
  border: none;
  color: #fff;
  padding: 1rem 0rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: 15rem;
  margin: 1rem 0rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start-button {
  background-color: hsl(115, 100%, 40%);
}
.start-button:hover {
  background-color: hsl(115, 100%, 35%);
}

.pause-button {
  background-color: hsl(50, 90%, 50%);
}
.pause-button:hover {
  background-color: hsl(50, 90%, 45%);
}

.reset-button {
  background-color: hsl(205, 90%, 60%);
}

.reset-button:hover {
  background-color: hsl(205, 90%, 55%);
}

